/* propiedades globales */
:root{
    --colorbanner:#2a5d50;
    --blanco:white;
    --negro:#000;
    --rojo:#FF0B1E;
}

*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 10px;
}

/* Parte header */

.container{
    margin: 1.5rem;
}

.header{
    width: 100%;
    max-width: 95%;
    margin: auto;
    
}

.header_div{
    display: flex;
    justify-content: space-between;

}

.header_div_div{
    display: flex;
    align-items: center;
}

.header_div_div_img{
    border-radius: 80%;
    margin-right: 1.5rem;

}

.header_link{
    padding: 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--negro);
}

.header_link:hover{
    text-decoration: underline;
}

input{
    border: none;
    padding:0.5rem;
    border-radius: 2rem;
    background-color: var(--blanco);
    border: 0.1rem solid var(--negro);
}

input:hover{
    background: var(--negro);
    color: var(--blanco);
}

/* Parte banner */

.banner{
    height: 40rem;
    background:var(--colorbanner);
    margin-top: 3rem;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    letter-spacing: .8rem;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3rem;
}

p{
    font-size: 2rem;
    letter-spacing: normal;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
}

.aprende{
    color: var(--blanco);
}
/* Parte Banner 2 */

.banner2{
    margin-top:2rem;
    width:100%;
    display: flex;
    justify-content: center;
}

.banner2_img{
    max-width: 100%;
    height: auto;
}

.banner2_text{
    text-align: center;
    background: red;
    padding-top:8rem;
    width: 100rem;
    color: white;
    font-size: 2.5rem;
    letter-spacing: .8rem;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;    
}

.pedido{
    background-color: #FF0B1E;
    color: var(--blanco);
    border-color: var(--blanco);
}

.pedido:hover{
    background-color: var(--blanco);
    color: var(--rojo);
}

.banner3{
    margin-top:2rem;
    width:100%;
    display: flex;
    justify-content: center;
}

.banner3_img{
    max-width: 100%;
    height: auto;
}

.banner3_text{
    text-align: center;
    background: red;
    padding-top:8rem;
    width: 100rem;
    color: white;
    font-size: 2.5rem;
    letter-spacing: .8rem;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    width: 100%;
    max-width: 95%;
    margin: auto;
    
}

.derechos{
    font-size: 1rem;
}